
.espacio{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-perfil{

    background-color: white;
    height: 50px;
    width: 400px;
    align-items: center;
    justify-content: center;
    
    
    
  }

  
